In [1]:
import pandas as pd
import numpy as np

In [2]:
marks = pd.Series([100, 56, 78, 98, 23, 45, 67, 89, 90, 100]) # create a series of marks
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
dtype: int64

In [3]:
marks.name = "Marks in maths " # name of the series
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
Name: Marks in maths , dtype: int64

In [4]:
marks.values # get the values of the series

array([100,  56,  78,  98,  23,  45,  67,  89,  90, 100])

In [5]:
type(marks.values)  # get the type of the values

numpy.ndarray

In [6]:
marks[0] # get the first value of the series

100

In [7]:
marks.index # get the index of the series

RangeIndex(start=0, stop=10, step=1)

In [8]:
marks.index = ["Avishek", "Ravi", "Rahul", "Rohit", "Raj", "Tom", "Jack", "Amir", "Bibas", "Rakesh"] # change the index of the series
print(marks)

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [9]:
pd.Series({
    'Avishek': 100,
    'Ravi': 56, 
    'Rahul': 78,
    'Rohit': 98,
    'Raj': 23,
    'Tom' :45,
    'Jack':67,
    'Amir':89,
    'Bibas':90,
    'Rakesh':100
},name="Marks in maths") # create a series with dictionary

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths, dtype: int64

In [10]:
marks["Avishek"] # get the value of the series with index

100

In [14]:
marks.iloc[0] # get the value of the series with index

100

In [ ]:
marks.iloc[-2]

90

In [19]:
marks[["Avishek","Ravi", "Tom"]] # multiple values of the series

Avishek    100
Ravi        56
Tom         45
Name: Marks in maths , dtype: int64

In [21]:
marks.iloc[[0,1,5]] # multiple values of the series

Avishek    100
Ravi        56
Tom         45
Name: Marks in maths , dtype: int64

In [23]:
marks["Ravi":"Raj"] # slicing of the series

Ravi     56
Rahul    78
Rohit    98
Raj      23
Name: Marks in maths , dtype: int64

In [30]:
marks > 50 # get the boolean values of the series

Avishek     True
Ravi        True
Rahul       True
Rohit       True
Raj        False
Tom        False
Jack        True
Amir        True
Bibas       True
Rakesh      True
Name: Marks in maths , dtype: bool

In [31]:
marks[marks > 80] # get the values of the series which are greater than 50

Avishek    100
Rohit       98
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [32]:
marks.mean() # get the mean of the series

74.6

In [33]:
marks[marks > marks.mean()] # get the values of the series which are greater than the mean

Avishek    100
Rahul       78
Rohit       98
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [35]:
marks.describe() # get the statistics of the series

count     10.000000
mean      74.600000
std       26.323627
min       23.000000
25%       58.750000
50%       83.500000
75%       96.000000
max      100.000000
Name: Marks in maths , dtype: float64

In [36]:
marks.std() # get the standard deviation of the series

26.32362690309474

In [41]:
marks - 2 # add the series with 2

Avishek    98
Ravi       54
Rahul      76
Rohit      96
Raj        21
Tom        43
Jack       65
Amir       87
Bibas      88
Rakesh     98
Name: Marks in maths , dtype: int64

In [43]:
marks["Avishek"] = 97 # change the value of the series

In [44]:
marks

Avishek     97
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [46]:
marks.iloc[-1] = 87

In [47]:
marks

Avishek    97
Ravi       56
Rahul      78
Rohit      98
Raj        23
Tom        45
Jack       67
Amir       89
Bibas      90
Rakesh     87
Name: Marks in maths , dtype: int64

In [48]:
marks[marks<50]=50

In [49]:
marks

Avishek    97
Ravi       56
Rahul      78
Rohit      98
Raj        50
Tom        50
Jack       67
Amir       89
Bibas      90
Rakesh     87
Name: Marks in maths , dtype: int64

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
                   'GDP': [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
                   'Surface Area': [9984670, 640679, 357114, 301336, 377930, 242495, 9525067],
                   'HDI': [0.913, 0.888, 0.916, 0.873, 0.891, 0.907, 0.915],
                   'Continent': ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America']},
                  columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent']) #create a dataframe

In [3]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [4]:
df.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'] #change the index of the dataframe

In [5]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [6]:
df.columns # get the columns of the dataframe

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [7]:
df.index  # get the index of the dataframe

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [8]:
df.info() # the information of the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [9]:
df.size # row * column

35

In [10]:
df.shape # row and column

(7, 5)

In [11]:
df.describe() # statistics of the dataframe

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [12]:
df.dtypes # data types

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [13]:
df.dtypes.value_counts() # count the data types

float64    2
int64      2
object     1
Name: count, dtype: int64

In [14]:
df['Population'] # get the column of the dataframe

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [15]:
df.loc['Canada'] # get the row of the dataframe

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [16]:
df.loc[['Canada', 'France']] # get the multiple rows of the dataframe

        Population      GDP  Surface Area    HDI Continent
Canada      35.467  1785387       9984670  0.913   America
France      63.951  2833687        640679  0.888    Europe

In [17]:
df.iloc[-1] # get the row of the dataframe

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [18]:
df.loc['France':'Italy'] # slicing of the dataframe

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [19]:
df.loc['France':'Italy', 'Population'] # slicing of the dataframe

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [20]:
df.loc['France':'Italy',['Population','GDP']] # slicing of the dataframe

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [21]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [24]:
df['Population'] > 70 # the boolean values of the df

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [28]:
df.loc[df['Population']>70] # get the population of the df which are greater than 70

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [29]:
df.loc[df['Population']>70,'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df['Population']>70,['Population','GDP']] #get the population and GDP of the df which are greater than 70

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

In [33]:
df.drop('Canada') # drop the row of the df

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [34]:
df.drop(['Canada','France']) # drop the multiple rows of the df

                Population       GDP  Surface Area    HDI Continent
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [35]:
df.drop(columns=['Population','GDP']) # drop the columns of the df

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.873    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

In [37]:
df.drop(['Italy','France'], axis=0) # drop the multiple rows of the df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [40]:
df.drop(['Population','GDP'], axis=1) # drop the columns of the df

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.873    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

In [44]:
df.drop(['France','Italy'],axis='rows') # drop the multiple rows of the df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [45]:
df.drop(['Population','GDP'],axis='columns') # drop the columns of the df

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.873    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

In [46]:
df[['Population','GDP']] # get the columns of the df

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075