In [1]:
import pandas as pd
import numpy as np

In [2]:
marks = pd.Series([100, 56, 78, 98, 23, 45, 67, 89, 90, 100]) # create a series of marks
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
dtype: int64

In [3]:
marks.name = "Marks in maths " # name of the series
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
Name: Marks in maths , dtype: int64

In [4]:
marks.values # get the values of the series

array([100,  56,  78,  98,  23,  45,  67,  89,  90, 100])

In [5]:
type(marks.values)  # get the type of the values

numpy.ndarray

In [6]:
marks[0] # get the first value of the series

100

In [7]:
marks.index # get the index of the series

RangeIndex(start=0, stop=10, step=1)

In [8]:
marks.index = ["Avishek", "Ravi", "Rahul", "Rohit", "Raj", "Tom", "Jack", "Amir", "Bibas", "Rakesh"] # change the index of the series
print(marks)

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [9]:
pd.Series({
    'Avishek': 100,
    'Ravi': 56, 
    'Rahul': 78,
    'Rohit': 98,
    'Raj': 23,
    'Tom' :45,
    'Jack':67,
    'Amir':89,
    'Bibas':90,
    'Rakesh':100
},name="Marks in maths") # create a series with dictionary

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths, dtype: int64

In [10]:
marks["Avishek"] # get the value of the series with index

100

In [14]:
marks.iloc[0] # get the value of the series with index

100

In [ ]:
marks.iloc[-2]

90

In [19]:
marks[["Avishek","Ravi", "Tom"]] # multiple values of the series

Avishek    100
Ravi        56
Tom         45
Name: Marks in maths , dtype: int64

In [21]:
marks.iloc[[0,1,5]] # multiple values of the series

Avishek    100
Ravi        56
Tom         45
Name: Marks in maths , dtype: int64

In [23]:
marks["Ravi":"Raj"] # slicing of the series

Ravi     56
Rahul    78
Rohit    98
Raj      23
Name: Marks in maths , dtype: int64

In [30]:
marks > 50 # get the boolean values of the series

Avishek     True
Ravi        True
Rahul       True
Rohit       True
Raj        False
Tom        False
Jack        True
Amir        True
Bibas       True
Rakesh      True
Name: Marks in maths , dtype: bool

In [31]:
marks[marks > 80] # get the values of the series which are greater than 50

Avishek    100
Rohit       98
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [32]:
marks.mean() # get the mean of the series

74.6

In [33]:
marks[marks > marks.mean()] # get the values of the series which are greater than the mean

Avishek    100
Rahul       78
Rohit       98
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [35]:
marks.describe() # get the statistics of the series

count     10.000000
mean      74.600000
std       26.323627
min       23.000000
25%       58.750000
50%       83.500000
75%       96.000000
max      100.000000
Name: Marks in maths , dtype: float64

In [36]:
marks.std() # get the standard deviation of the series

26.32362690309474

In [41]:
marks - 2 # add the series with 2

Avishek    98
Ravi       54
Rahul      76
Rohit      96
Raj        21
Tom        43
Jack       65
Amir       87
Bibas      88
Rakesh     98
Name: Marks in maths , dtype: int64

In [43]:
marks["Avishek"] = 97 # change the value of the series

In [44]:
marks

Avishek     97
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [46]:
marks.iloc[-1] = 87

In [47]:
marks

Avishek    97
Ravi       56
Rahul      78
Rohit      98
Raj        23
Tom        45
Jack       67
Amir       89
Bibas      90
Rakesh     87
Name: Marks in maths , dtype: int64

In [48]:
marks[marks<50]=50

In [49]:
marks

Avishek    97
Ravi       56
Rahul      78
Rohit      98
Raj        50
Tom        50
Jack       67
Amir       89
Bibas      90
Rakesh     87
Name: Marks in maths , dtype: int64