In [1]:
import pandas as pd
import numpy as np

In [17]:
marks = pd.Series([100, 56, 78, 98, 23, 45, 67, 89, 90, 100]) # create a series of marks
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
dtype: int64

In [18]:
marks.name = "Marks in maths " # name of the series
print(marks)

0    100
1     56
2     78
3     98
4     23
5     45
6     67
7     89
8     90
9    100
Name: Marks in maths , dtype: int64

In [19]:
marks.values # get the values of the series

array([100,  56,  78,  98,  23,  45,  67,  89,  90, 100])

In [20]:
type(marks.values)  # get the type of the values

numpy.ndarray

In [21]:
marks[0] # get the first value of the series

100

In [22]:
marks.index # get the index of the series

RangeIndex(start=0, stop=10, step=1)

In [23]:
marks.index = ["Avishek", "Ravi", "Rahul", "Rohit", "Raj", "Tom", "Jack", "Amir", "Bibas", "Rakesh"] # change the index of the series
print(marks)

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths , dtype: int64

In [25]:
pd.Series({
    'Avishek': 100,
    'Ravi': 56, 
    'Rahul': 78,
    'Rohit': 98,
    'Raj': 23,
    'Tom' :45,
    'Jack':67,
    'Amir':89,
    'Bibas':90,
    'Rakesh':100
},name="Marks in maths") # create a series with dictionary

Avishek    100
Ravi        56
Rahul       78
Rohit       98
Raj         23
Tom         45
Jack        67
Amir        89
Bibas       90
Rakesh     100
Name: Marks in maths, dtype: int64

In [ ]:
marks["Avishek"] # get the value of the series with index

100